table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .mat-column-status{
    min-width: 155px;
  }
  .flex{
    display: flex;
    gap: 20px;
  }
  .menuBtn{
    background: #0bca5c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    border-radius: 10px;
    .mat-icon{
      color: #fff;
      font-size: 2rem;
      width: 2em;
      height: 2em;
      line-height: 2em;
    }
  }
  
  app-card {
    display: block;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    position: relative;
  
    // Title Styling
    h1 {
      font-size: 1.5rem; // Larger font
      font-weight: bold;
      color: black;
      margin-bottom: 0.75rem;
    }
  }
  